.submit-button {
    width: max-content;
    border-radius: 3px;
    padding: 10px 20px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    background-color: teal;
    border: 1px solid teal;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

.content-container {
    display: flex;
    flex: 1;
}

.main-content {
    flex: 1;
    padding: 20px;
}