.ryt {
    width: 1;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.xyz {
    background-color: teal;
}

.sidebar2 {
    background-color: #E7F6FC;
    grid-column: span 2;
    display: none;
}

.sidebar2.open {
    display: block;
}